*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: proxima-nova, sans-serif;;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Poppins', sans-serif;
}



a{
  font-size: 20px;
}

.logoAwayPrincipal{
  width: 100px;
  
  background-size: cover;
}

h3{
  color: white;
}

h4{
  display: inline-block;
  font-size: 20pt;
  margin: 20px 20px 20px 20px;
}

/*h5{
  color: rgb(0, 180, 81);
}*/



.nav{
  background-color:rgb(0, 180, 81);
    /*background-color: #68a18b;*/
    height: 85px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav_menu{
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
  
}

.nav_item{
  color: #fff;
  text-decoration: none ;
  --clippy:polygon(0 0, 0 0, 0 100%, 0 100%);
  
}

.nav_item::after{
  content: "";
  display: block;
  background: #fff;
  width: 80%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path .5s;
}

.nav_item:hover{
  --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav_container{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav_label, .nav_input{
  display: none;
}

.img_inicio{
  height: 700px;
  background-color: black;
  background-repeat: no-repeat;
  background-image: url(../img/fondo1.jpg);
  background-size: cover;
  background-position: 33% 66%;
  animation: fondoAnimado 10s ease-out infinite alternate-reverse;
}

@keyframes fondoAnimado {
  0%{
    background-repeat: no-repeat;
    background-image: url(../img/fondo2.jpg);
    background-size: cover;
    background-position: 33% 66%;
  }
  25%{
    background-repeat: no-repeat;
    background-image: url(../img/fondo3.jpg);
    background-size: cover;
    background-position: 33% 66%;
  }

  50%{
    background-repeat: no-repeat;
    background-image: url(../img/fondo4.jpg);
    background-size: cover;
    background-position: 33% 66%;
  }

  75%{
    background-repeat: no-repeat;
    background-image: url(../img/fondo5.jpg);
    background-size: cover;
    background-position: 33% 66%;
  }

  100%{
    background-repeat: no-repeat;
    background-image: url(../img/fondo6.jpg);
    background-size: cover;
    background-position: 33% 66%;
  }
}



.fondoCalendario{
  background-color: rgba(66, 159, 77, 0.695);
  width: 1000px;
  height: 170px;
  border-radius: 50px 50px 50px 50px;
  position: absolute;
  top: 25%;
  left: 26%;
  margin: 0 auto;
  /*float: left;*/
  /*margin: 250px 250px 250px 0;*/
}

.selecSalida, .selecVuelta, .busquedaSitioDesde, .botonBusqueda{
  display: inline-block;
  margin: 40px 20px 50px 35px;
}

button{
  width: 80px;
  height: 30px;
}

/*SITIOS DESTACADOS*/

.sitiosDestacadosTitulo{
  text-decoration: underline;
  
}

.fotoSitio{
  width:700px;
  height: 250px;
  /*background-image: url(../img/madridSitio.jpg);*/
  /*background-size: cover;*/
  margin: 0 auto;
}

.madridSitio{
  background-image: url(../img/madridSitio.jpg);
  background-size: cover;
}

.jaenSitio{
  background-image: url(../img/jaen.jpg);
  background-size: cover;

}

.galiciaSitio{
  background-image: url(../img/galicia.jpg);
  background-size: cover;
}

.sitiosDestacados{
  width: 100%;
  height: 650px;
  /*background-color: aqua;*/
}

.carruselUno{
  width: 1500px;
  display: inline-block;
  /*height: 100px;*/
  /*background-color: azure;*/
  margin: 0 auto;
  text-align: center;
}

.textoInfoSitio{
  text-align: justify;
  width: 700px;
  margin: 0 auto;
}

.sitioUno{
  height: 500px;
}

.carruselSitios {
  position: relative;
  /*margin-top: 26px;*/
  
}

.pasarSitios {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
  /*height: calc( 300px + 3em);*/
}

.pasarClick:checked + .carruselUno {
  position: static;
  opacity: 100;
}

.carruselUno {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carruselUno {
  display: block;
  height: auto;
  max-width: 100%;
}

.clickControl {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.clickControl.prev {
  left: 23%;
  top: 250px;
}

.clickControl.next {
  right: 525px;
  top: 250px;
}

.clickControl:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
  display: block;
}


#titulo {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
       -1px 0px 2px rgba(255, 255, 255, 0);
}



/*FOOTER*/

footer{
  width: 100%;
  height: 175px;
  background-color: rgb(0, 180, 81);
}

li{
  list-style: none;
}

.footerInfo{
  display: inline-block;
  margin: 25px 20px 0 100px;
}



/*.listaProducto, .listaRecursos,.listaEmpresa{

}*/


/*PRUEBA ICONOS FOOTER*/
.buttons {
  min-width: 700px;
  display: flex;
  justify-content: right;
  
  /*justify-content: space-around;*/
}

.fa, .fa-app-store{
  margin: -50px 0 0 15px;
}



.buttons a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}

.buttons a:hover {
  transform: scale(1.2);
}



.linksFooter{
  color: #fff;
  text-decoration: none;
}


/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
@media (max-width: 700px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: proxima-nova, sans-serif;;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Poppins', sans-serif;
}

a{
  font-size: 12px;
  margin: 5px -30px 0 0;
}

.nav_menu{
  margin: 5px 50px 0 5px;
}

.logoAwayPrincipal{
  width: 50px;
  background-size: cover;
}

h3{
  color: white;
}

h4{
  display: inline-block;
  font-size: 20pt;
  margin: 20px 20px 20px 20px;
}


.fondoCalendario{
  background-color: rgba(66, 159, 77, 0.695);
  width: 200px;
  height: 500px;
  border-radius: 50px 50px 50px 50px;
  position: relative;
  top: 75px;
  left: 0;
  /*top: 25%;*/
  /*margin: 0 auto;*/

}

.selecSalida, .selecVuelta, .busquedaSitioDesde, .botonBusqueda{
  display: inline-block;
  top: 100px;
  margin: 10px 0 50px 35px;
}



.nav{
  background-color:rgb(0, 180, 81);
  position: sticky;
    /*background-color: #68a18b;*/
    width: 100%;
    height: 85px;
    color: white;
    /*position: relative;*/
   top: 785px;
}


.img_inicio{
  position: relative;
  margin: 0 auto;
  bottom: 85px;
  height: 700px;
  background-repeat: no-repeat;
  background-image: url(../img/fondo1.jpg);
  background-size: cover;
  background-position: 33% 66%;
  animation: fondoAnimado 10s ease-out infinite alternate-reverse;
}

@keyframes fondoAnimado {
  0%{
    background-repeat: no-repeat;
    background-image: url(../img/fondo2.jpg);
    background-size: cover;
    background-position: 33% 66%;
  }
  25%{
    background-repeat: no-repeat;
    background-image: url(../img/fondo3.jpg);
    background-size: cover;
    background-position: 33% 66%;
  }

  50%{
    background-repeat: no-repeat;
    background-image: url(../img/fondo4.jpg);
    background-size: cover;
    background-position: 33% 66%;
  }

  75%{
    background-repeat: no-repeat;
    background-image: url(../img/fondo5.jpg);
    background-size: cover;
    background-position: 33% 66%;
  }

  100%{
    background-repeat: no-repeat;
    background-image: url(../img/fondo6.jpg);
    background-size: cover;
    background-position: 33% 66%;
  }
}

.sitiosDestacados{
  position: relative;
  bottom: 90px;
  height: 600px;
  
}



.fotoSitio{
  width:250px;
  height: 150px;
  /*background-image: url(../img/madridSitio.jpg);*/
  /*background-size: cover;*/
  margin: 0 auto;
}

.madridSitio{
  background-image: url(../img/madridSitio.jpg);
  background-size: cover;
}

.jaenSitio{
  background-image: url(../img/jaen.jpg);
  background-size: cover;

}

.galiciaSitio{
  background-image: url(../img/galicia.jpg);
  background-size: cover;
}

/*.sitiosDestacados{
  width: 100%;
  height: 650px;
  /*background-color: aqua;*/
/*}*/

.carruselUno{
  /*background-color: rgba(0, 0, 0, 0.242);*/
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.textoInfoSitio{
  text-align: justify;
  width: 250px;
  margin: 0 auto;
}

.sitioUno{
  height: 500px;
}

.carruselSitios {
  position: relative;
  /*margin-top: 26px;*/
  
}

.pasarSitios {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 615px;
  /*height: calc( 300px + 3em);*/
}

.pasarClick:checked + .carruselUno {
  position: static;
  opacity: 100;
}

.carruselUno {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carruselUno {
  display: block;
  height: auto;
  max-width: 100%;
}

.clickControl {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.clickControl.prev {
  top: 150px;
  left: 85px;
  /*left: 23%;
  top: 250px;*/
}

.clickControl.next {
  top: 150px;
  right: 85px;
  /*top: 250px;*/
}

.clickControl:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
  transition: 1s;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
  display: block;
}


#titulo {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
       -1px 0px 2px rgba(255, 255, 255, 0);
}

footer{
  position: relative;
  bottom: 50px;
  width: 100%;
  height: 175px;
  background-color: rgb(0, 180, 81);
}

li{
  list-style: none;
}

.footerInfo{
  display: inline-block;
  margin: 25px 5px 0 20px;
}


/*PRUEBA ICONOS FOOTER*/
.buttons {
  min-width: 700px;
  display: flex;
  position: relative;
  left: -310px;
  /*justify-content: right;*/
  /*justify-content: space-around;*/
}

.fa, .fa-app-store{
  margin: -50px 10px 0 10px;
  display: block;
}

.buttons a {
  text-decoration: none;
  font-size: 15px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}

.buttons a:hover {
  transform: scale(1.2);
}

.linksFooter{
  color: white;
  text-decoration: none;
}

/*  .nav_label{
    display: block;
    cursor: pointer;
  }
*/

  /*.nav_menu{
    background-color: black;
  }*/
}




