*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: proxima-nova, sans-serif;;
}

body {
    background-color: rgb(0, 180, 81);
    font-family: 'Poppins', sans-serif;    
  }

label{
    color: white;
}



.logoAwayPrincipal{
    position: relative;
    width: 100px;  
    background-size: cover;
    margin: 0 auto;
    top: 10px;
  
  }
  
  .logoAway{
  width: 100px;
  
  background-size: cover;
  }
  

  .left{
    float: left;
    width: 214px;
    height: 366px;
  }
  .right{
    float: right;
    display: table;
    width: 60%;
  }
  .fa{
    display: inline-block;
  }
  .image{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid gray;
    display: inline-block;
    padding: 3px;
    border: 3px solid #d2d6de;
    margin-top: 20px;
    margin-right: 57px;
    margin-left: 57px;
  
  }

  .form-control {
      border-radius: 0;
      box-shadow: none;
      border-color: #d2d6de;
  }

  .biografia{
      height: 200px;
  }

  .form-control {
      display: block;
      width: 600px;
      padding: 6px 12px;
      font-size: 14px;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
  }
  label {
    cursor: default;
  }
  label {
    display: inline-block;
    max-width: 100%;
    /*margin-bottom: 5px;*/
    font-weight: 700;
  }
  .usuername{
      font-size: 21px;
      margin-top: 5px;
  }
  .text-center {
      text-align: center;
  }
  .btn{
    margin: 0 auto;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    touch-action: manipulation;
    margin-top: 100px;
  }
 
  a {
      color: rgb(0, 180, 81);
      text-decoration: none;
  }
  .btn-primary {
      color: #fff;
      background-color: rgb(0, 180, 81);
      display: block;
  }
  h3{
      font-family: 'Source Sans Pro',sans-serif;
  }

   .botonGuardar{
       margin: 50px 0 0 1050px;
       display: inline-block;
      width: 200px;
      height: 50px;
      border-radius: 20px 20px 20px 20px;
      background-color: white;
      text-transform: uppercase;
      outline: 0;
      width: 250px;
      border: 0;
      padding: 15px;
      color: #FFFFFF;
      font-size: 14px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
  } 

  .guardar{
      margin: 0 0 0 50px;
  }

 
  .btn {
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid transparent;
  }
  
  .has-feedback {
      position: relative;
  }
  .form-group {
      margin-bottom: 15px;
  }
  .left.box-primary {
      border-top-color: #16252e;
      
  }
  .left {
      /*position: relative;*/
      border-radius: 3px;
      background: #ffffff;
      border-top: 3px solid #d2d6de;
      margin: 50px 0 50px 350px;
      /*margin-bottom: 20px;*/
      box-shadow: 0 1px 1px rgba(0,0,0,0.1);
      padding: 10px;
  }



  /*------------------------------------------------------------------*/
  /*------------------------------------------------------------------*/
  /*------------------------------------------------------------------*/
 
  @media (max-width: 700px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: proxima-nova, sans-serif;;
    }
    
    body {
        background-color: rgb(0, 180, 81);
        font-family: 'Poppins', sans-serif;    
      }
    

    
      .image{
        margin: 0 auto;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid gray;
        display: inline-block;
        padding: 3px;
        border: 3px solid #d2d6de;
        margin-top: 20px;
        margin-right: 57px;
        margin-left: 57px;
      
      }
  
      .biografia{
          height: 100px;
      }
    
      .form-control {
          display: block;
          width: 350px;
          /*width: 600px;*/
         /* padding: 6px 12px;*/
          font-size: 14px;
          /*line-height: 1.42857143;*/
          color: #555;
          background-color: #fff;
          background-image: none;
          border: 1px solid #ccc;
      }

      .tamañoTexto{
        width: 300px;
      }
      
      label {
        cursor: default;
      }
      label {
        display: inline-block;
       /* max-width: 100%;*/
        /*margin-bottom: 5px;*/
        font-weight: 700;
      }
      .usuername{
          font-size: 21px;
          margin-top: 5px;
      }
     
      .btn{
        margin: 0 auto;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        touch-action: manipulation;
        margin-top: 100px;
      }
      a {
          color: #3c8dbc;
      }
      a {
          color: #337ab7;
          text-decoration: none;
      }
      .btn-primary {
          color: #fff;
          background-color: rgb(0, 180, 81);
          display: block;
      }
      h3{
          font-family: 'Source Sans Pro',sans-serif;
      }
    
       .botonGuardar{
          margin: 20px 20px 20px 75px;
          display: inline-block;
          width: 200px;
          height: 50px;
          border-radius: 20px 20px 20px 20px;
          background-color: white;
          text-transform: uppercase;
          outline: 0;
          width: 250px;
          border: 0;
          padding: 15px;
          color: #FFFFFF;
          font-size: 14px;
          -webkit-transition: all 0.3 ease;
          transition: all 0.3 ease;
          cursor: pointer;
      } 
    
      .guardar{
          margin: 0 0 0 50px;
          color: rgb(0, 180, 81);
      }
  
      
      .has-feedback {
          position: relative;
      }
      .form-group {
          margin-bottom: 15px;
      }
      .left.box-primary {
          border-top-color: #16252e;
          
      }
      .left {
          /*position: relative;*/
          border-radius: 3px;
          background: #ffffff;
          border-top: 3px solid #d2d6de;
          margin: 50px 0 50px 100px;
          /*margin-bottom: 20px;*/
          box-shadow: 0 1px 1px rgba(0,0,0,0.1);
          padding: 10px;
      }


      .form-horizontal{
          position: relative;
          left: -45px;
      }

  }
