body {
    background-image: url("../img/fondouf4.png");
    background-repeat: repeat;
  }
  ul{
    list-style: none;
    position: relative;
    right: 60px;
  }
  img{
    width: 100%;
    height: auto;
  }
  .uf1{
      width: 60%;
      height: 23%;
      margin: 10px;
  }
  .uf1:hover {
    transform: scaleX(120%);
  }